#contenedor {
    border: 2px solid;
    display: inline-flex;
    flex-direction: row;
    width: 99.99%;   
    justify-content: space-between;
    align-items: center;
}
 #contenedor div {
    width: 200px;
    height: 200px;   
}
p{
    font-size: 20px;
    padding: 50% 0;
    margin: auto;    
    text-align: center;
	color: white;
}
.div1{
    background-color: red;
}
.div2{
    background-color:blue;   
}
.div3{
    background-color:green;        
}